:root {
  /* ===============================
     Colors
  =============================== */

  /* Primary */
  --clr-bg-main: hsl(233, 47%, 7%); /* Navy 950 */
  --clr-bg-card: hsl(244, 37%, 16%); /* Blue 950 */
  --clr-accent: hsl(277, 64%, 61%); /* Purple 500 */

  /* Neutral */
  --clr-text-main: hsl(0, 0%, 100%); /* Headings, stats */
  --clr-text-body: hsla(0, 0%, 100%, 0.75); /* Paragraph */
  --clr-text-muted: hsla(0, 0%, 100%, 0.6); /* Stat labels */

  /* ===============================
     Typography
  =============================== */

  /* Font Families */
  --ff-primary: "Inter", system-ui, sans-serif;
  --ff-secondary: "Lexend Deca", system-ui, sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font Sizes */
  --fs-body: 0.9375rem; /* 15px */
  --fs-heading: 1.75rem;
  --fs-stat: 1.5rem;
  --fs-stat-label: 0.75rem;

  /* ===============================
     Spacing
  =============================== */

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 3.5rem;
  --space-10: 4rem;
  --space-11: 4.5rem;
  --space-12: 5rem;

  /* ===============================
     Layout
  =============================== */

  --radius-card: 0.75rem;
  --max-width-card: 68rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text-body);
  font-size: var(--fs-body);

  background: var(--clr-bg-main);
  padding: clamp(5rem, 10vw, 5rem) clamp(1rem, 5vw, 2.5rem);

  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;

  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  background: var(--clr-bg-card);
  border-radius: var(--radius-card);
  max-width: 30rem;
}

.card-image {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  position: relative;
  border-top-left-radius: var(--radius-card);
  border-top-right-radius: var(--radius-card);
}

.image-overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: var(--clr-accent);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: var(--space-8);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.card-content h1 {
  color: var(--clr-text-main);
  font-size: var(--fs-heading);
}

.card-content h1 span {
  color: var(--clr-accent);
}

.card-content p {
  line-height: 1.7;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.stat {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  letter-spacing: 0.1em;
}

.stat strong {
  color: var(--clr-text-main);
  font-size: var(--fs-stat);
}

.stat span {
  font-family: var(--ff-secondary);
  font-size: var(--fs-stat-label);
  text-transform: uppercase;
}

footer {
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 70rem) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-card);
  }

  .card-content {
    text-align: left;
    padding: var(--space-12);
  }

  .card-image {
    aspect-ratio: auto;
    order: 1;
    border-bottom-right-radius: var(--radius-card);
    border-top-left-radius: 0;
    align-self: stretch;
  }

  .stats {
    flex-direction: row;
    gap: var(--space-8);
    padding-top: var(--space-6);
  }
}
